<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- 无参构造方法实例化 <bean id="userDao" class="com.fuyu.dao.impl.UserDaoImpl" init-method="init" destroy-method="destory"></bean>-->
    <!--工厂静态方法实例化-->
    <!--<bean id="userDao" class="com.fuyu.factory.StaticFactory" factory-method="getUserDao" ></bean>-->
    <!--工厂实例方法实例化-->

<!--    <bean id="factory1" class="com.fuyu.factory.DynamicFactory" ></bean>-->
    <!--factory-bean指定工厂类，factory-method指定工厂方法，无需再写class属性-->
<!--    <bean id="userDao1" factory-bean="factory1" factory-method="getUserDao"/>-->

    <!--方式四： 使用factoryBean实例化bean-->
    <bean id="userDao1" class="com.fuyu.factory.UserDaoFactoryBean"/>

</beans>