<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao123" class="com.fuyu.dao.impl.BookDaoImpl" >
        <property name="dataBaseName" value="mysql"/>
        <property name="connectionNum" value="10"/>
    </bean>
    <bean id="userDao123" class="com.fuyu.dao.impl.UserDaoImpl" />
    <bean id="bookService123" class="com.fuyu.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao123"/>
        <property name="userDao" ref="userDao123"/>
    </bean>
</beans>